<?xml version="1.0" encoding="utf-8"?>
 <configuration>
     <system.webServer>
       <handlers accessPolicy="Read, Script">
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python311\python.exe|C:\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
       </handlers>
        <httpErrors errorMode="Detailed" />
     </system.webServer>
     <appSettings>
       <!-- Required settings -->
       <add key="WSGI_HANDLER" value="run.app" />
       <add key="PYTHONPATH" value="C:\Users\Administrator\Documents\production" />
     </appSettings>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>