<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Faites le test ultime">
    <meta name="author" content="">
    <title>Le test ultime !</title>

    <meta property="og:title" content="Le test ultime !" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="static/tmp/sample.jpg" />
    <meta property="og:description" content="Faites le test ultime" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../static/css/freelancer-theme.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/470b91f216.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../static/js/jquery/jquery.min.js" charset="utf-8"></script>

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Contenu principal</a></div>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="/static">Le test ultime !</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="card">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-3">
                            <img class="img-responsive img-circle user_profile" src="../static/img/profile.png" id="user_image">
                        </div>
                        <div class="col-sm-3">
                            <h2 id="user_name">Tom</h2>
                        </div>
                        <div class="col-sm-12">
                            <p id="description" class="blur">Toi, tu sais comment utiliser la console ! Jamais à court d'idées pour réaliser ton objectif, tu es déterminé-e et persévérant-e. Tes amis disent d'ailleurs volontiers que tu as du caractère et que tu ne te laisses pas marcher sur les pieds. Un peu hacker sur les bords, tu aimes trouver des solutions à tout problème. N'aurais-tu pas un petit problème d'autorité ? ;-)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="intro-text">
                <h1 class="name">Prêt-e à faire un choix éclairé ?</h1>
                <hr class="star-light">
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    Découvrez la comparaison de l'imposition à l'IR ou à l'IS pour les entrepreneurs individuels en 2022
                </p>

                <div style="margin-top: 25px" data-bs-toggle="modal" data-bs-target="#form-modal">
                    <button type="button" class="simulation-btn" data-toggle="modal" data-target="#form-modal">
                        Faire ma simulation
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="italic">Copyright &copy; 2023</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="../static/js/freelancer-theme.min.js" charset="utf-8"></script>

<div class="portfolio-modal modal fade" id="form-modal2" tabindex="-1" aria-labelledby="form-modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">

                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 70%; margin-top: 100px">
        <form id="multi-step-form" action="/simulate" method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Simulateur
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h2>
            </div>
            <div class="modal-body" style="min-height: 150px;">
                <div id="step-1" class="step">
                    <h4>Etape 1 : Informations du client</h4>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="client-name">Nom & prénom du client / dénomination</label>
                            <input type="text" class="form-control" id="client-name" name="client-name" placeholder="Nom & prénom">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="client-profession">Profession</label>
                            <input type="password" class="form-control" id="client-profession" name="client-profession" placeholder="Profession">
                        </div>
                    </div>
                </div>
                <div id="step-2" class="step">
                    <h4>Etape 2 : titre de l'étape</h4>
                    <input type="text" name="step-2-input" placeholder="Step 2 Input">
                </div>
                <div id="step-3" class="step">
                    <h4>Etape 3 : titre de l'étape</h4>
                    <h2>Step 3</h2>
                    <input type="text" name="step-3-input" placeholder="Step 3 Input">
                </div>

            </div>
            <div class="modal-footer">
                <button id="prev-btn" type="button" class="btn btn-secondary prev-btn">Annuler</button>
                <button id="next-btn" type="button" class="btn big-button next-btn">Suivant</button>
            </div>
        </div>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            var currentStep = 1;
            showStep(currentStep);
            updateNavigationText();

            $('.next-btn').click(function(event) {
                if (currentStep < 3) {
                    currentStep++;
                    showStep(currentStep);
                    event.stopPropagation();
                } else if (currentStep === 3) {
                    document.getElementById("multi-step-form").submit();
                }
            });

            $('.prev-btn').click(function(event) {
                if (currentStep > 1) {
                    currentStep--;
                    showStep(currentStep);
                    event.stopPropagation();
                }
            });

            function showStep(step) {
                $('.step').removeClass('active');
                $('#step-' + step).addClass('active');
                updateNavigationText();
            }

            function updateNavigationText(){
                let prev = document.getElementById("prev-btn");
                if (currentStep === 1) {
                    prev.innerText = "Annuler";
                    prev.setAttribute("data-dismiss", "modal");
                } else {
                    prev.innerText = "Précédent";
                    prev.removeAttribute("data-dismiss");
                }

                document.getElementById("next-btn").innerText = currentStep === 3 ? "Lancer la simulation" : "Suivant";
            }
        });

    </script>

</div>
</body>

</html>
